.bg-top-img {
  background-image: url('https://vignette.wikia.nocookie.net/overwatch/images/0/0d/Kingsrow_screenshot_7.png/revision/latest?cb=20160711193951');
  height: 46vh;
  background-size: cover;
}
.bg-mid-img {
  background-image: url('https://vignette.wikia.nocookie.net/overwatch/images/4/4c/Gibraltar_screenshot_6.png/revision/latest?cb=20160710222854');
  height: 60vh;
  background-size: cover;
}
.logo-img {
  height: 100px;
  width: 100px;
}
.main-title{
  font-size: 50px;
}
.link-bg{
  background-color: #F89E19;
}
.who-are-we-bg{
  height: 46vh;
  background-color: #f2f2f2;
  overflow: scroll
}
p{
  font-size: 18px;
}
::-webkit-scrollbar{
  display: none;
}